### Carga de dados

In [ ]:
# Importa o dataset e cria uma cópia local do mesmo

In [ ]:
import requests

In [ ]:
url = "https://raw.githubusercontent.com/dsacademybr/Datasets/master/dataset6.csv"
response = requests.get(url)

In [ ]:
with open("dataset_vendas.csv", "wb") as file:
    file.write(response.content)

print("Download concluído!")

In [1]:
import pandas as pd

In [2]:
# Cria o dataframe
df_vendas = pd.read_csv("dataset_vendas.csv")

### Limpeza e Transformação

In [ ]:
df_vendas.shape

In [ ]:
df_vendas.dtypes

In [3]:
df_vendas.columns = df_vendas.columns.str.replace(' ', '').str.replace('-', '')

In [ ]:
df_vendas.columns

In [4]:
# Altera tipos de colunas de data
df_vendas['OrderDate'] = pd.to_datetime(df_vendas['OrderDate'])
df_vendas['ShipDate'] = pd.to_datetime(df_vendas['ShipDate'])

#### Preenchendo valores NA

In [5]:
# Verifica a existência de nulos
print(df_vendas.isna().sum())

RowID           0
OrderID         0
OrderDate       0
ShipDate        0
ShipMode        0
CustomerID      0
CustomerName    0
Segment         0
Country         0
City            0
State           0
PostalCode      0
Region          0
ProductID       0
Category        0
SubCategory     0
ProductName     0
Sales           0
Quantity        4
Discount        0
Profit          0
dtype: int64

In [6]:
# Usa a 'moda' para preencher NA's da coluna Quantity
moda = df_vendas['Quantity'].value_counts().index[0]
print(moda)
df_vendas['Quantity'].fillna(value = moda, inplace=True)

3.0

In [7]:
# Altera o tipo da coluna para inteiro
df_vendas['Quantity'] = df_vendas['Quantity'].astype(int)

In [ ]:
# Checa os valores mínimo e máximo da coluna Sales
df_vendas.Sales.describe()

#### Consultas e Filtros

In [ ]:
# Consulta as vendas entre 10000 e 12000
df2 = df_vendas.query('10000 < Sales < 12000')

In [ ]:
df2.shape

In [ ]:
df2.Sales.describe()

In [8]:
# Filtra a ocorrência dos valores 5, 7, 9 ou 11 na coluna 'Quantity'
df_vendas[df_vendas['Quantity'].isin([5, 7, 9, 11])]

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,PostalCode,Region,ProductID,Category,SubCategory,ProductName,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
14,15,US-2015-118983,2015-11-22,2015-11-26,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9974,9975,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-AR-10004752,Office Supplies,Art,Blackstonian Pencils,18.6900,7,0.00,5.2332
9977,9978,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-FA-10003467,Office Supplies,Fasteners,"Alliance Big Bands Rubber Bands, 12/Pack",13.8600,7,0.00,0.0000
9981,9982,CA-2017-163566,2017-08-03,2017-08-06,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,45014,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.5200,5,0.20,5.3690
9982,9983,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.5600,7,0.00,16.7132
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470

In [ ]:
# Filtro anterior retornando apenas 10 linhas
df_vendas[df_vendas['Quantity'].isin([5, 7, 9, 11])][:10]

In [ ]:
# Filtro com operador lógico AND
df_vendas[(df_vendas.Segment == 'Home Office') & (df_vendas.Region == 'South')]

In [ ]:
# Filtro com operador lógico OR
df_vendas[(df_vendas.Segment == 'Home Office') | (df_vendas.Region == 'South')]

In [ ]:
# Filtro com operador lógico de negação
df_vendas[(df_vendas.Segment != 'Home Office') & (df_vendas.Region != 'South')]

### Sumarização de Dados

#### Usando GROUP BY e AGG

In [ ]:
# Retorna a média de vendas por 'segment' e 'region'
df_vendas[['Segment', 'Region', 'Sales']].groupby(['Segment', 'Region']).mean()

In [ ]:
# Combina GROUP BY com AGG (agregação múltipla)
df_vendas[['Segment', 'Region', 'Sales']].groupby(['Segment', 'Region']).agg(['mean', 'std', 'count'])

In [ ]:
# Agregações diferentes por coluna específica
df_vendas[['Region', 'Sales', 'Quantity']].groupby(['Region']).agg({'Sales': 'mean', 'Quantity':'sum'})

### Criando Novas Colunas

In [9]:
# Cria a coluna LeadTime (tempo de envio)
df_vendas['LeadTime'] = (df_vendas['ShipDate'] - df_vendas['OrderDate']).dt.days

In [ ]:
df_vendas.head(3)

In [10]:
# Cria a coluna FxSales (faixas de valores)
bins = [df_vendas['Sales'].min(), 17.28, 54.49, 209.94, df_vendas['Sales'].max()]
labels = ['Baixo', 'Médio', 'Alto', 'Muito Alto']

df_vendas['FxSales'] = pd.cut(df_vendas['Sales'], bins=bins, labels=labels)

In [ ]:
df_vendas.head(3)

### Análise de Outliers

In [ ]:
# Usando o IQR (Intervalo Interquartil)
Q1 = df_vendas['Sales'].quantile(0.25)
Q3 = df_vendas['Sales'].quantile(0.75)
IQR = Q3 - Q1
lim_inf = Q1 - 1.5 * IQR
lim_sup = Q3 + 1.5 * IQR

outliers = df_vendas[(df_vendas['Sales'] < lim_inf) | (df_vendas['Sales'] > lim_sup)]
cols_outliers = ['OrderID', 'Segment', 'Sales', 'Quantity', 'Profit']
print(outliers[cols_outliers])

In [ ]:
# Usando boxplot
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 5))
sns.boxplot(x = df_vendas['Sales'])
plt.show()

### Rankings e Top N

In [ ]:
# Retorna os 10 produtos mais vendidos (em quantidade)
top_produtos = df_vendas.groupby('ProductName')['Quantity'].sum().nlargest(10)
print(top_produtos)

In [ ]:
# Retorna os 10 clientes que dão maior lucro
top_clientes = df_vendas.groupby('CustomerName')['Profit'].sum().nlargest(10)
print(top_clientes)

### Análise Temporal

In [11]:
# Retorna o total de vendas por mês
df_vendas['AnoMes'] = df_vendas['OrderDate'].dt.to_period('M')
vendas_mes = df_vendas.groupby('AnoMes')['Sales'].sum()
print(vendas_mes)

AnoMes
2014-01     14236.8950
2014-02      4519.8920
2014-03     55691.0090
2014-04     28295.3450
2014-05     23648.2870
2014-06     34595.1276
2014-07     33946.3930
2014-08     27909.4685
2014-09     81777.3508
2014-10     31453.3930
2014-11     78628.7167
2014-12     69545.6205
2015-01     18174.0756
2015-02     11951.4110
2015-03     38726.2520
2015-04     34195.2085
2015-05     30131.6865
2015-06     24797.2920
2015-07     28765.3250
2015-08     36898.3322
2015-09     64595.9180
2015-10     31404.9235
2015-11     75972.5635
2015-12     74919.5212
2016-01     18542.4910
2016-02     22978.8150
2016-03     51715.8750
2016-04     38750.0390
2016-05     56987.7280
2016-06     40344.5340
2016-07     39261.9630
2016-08     31115.3743
2016-09     73410.0249
2016-10     59687.7450
2016-11     79411.9658
2016-12     96999.0430
2017-01     43971.3740
2017-02     20301.1334
2017-03     58872.3528
2017-04     36521.5361
2017-05     44261.1102
2017-06     52981.7257
2017-07     45264.4160
2017-08     63120.8880
2017-09     87866.6520
2017-10     77776.9232
2017-11    118447.8250
2017-12     83829.3188
Freq: M, Name: Sales, dtype: float64

In [ ]:
vendas_mes.plot(kind = 'line', figsize = (12, 5), title = 'Vendas por Mês')
plt.show()

### Pivot Tables

In [ ]:
# Substitue o uso de groupby (mais flexível)
table_pivot = df_vendas.pivot_table(index = 'Region', columns = 'Segment', values = 'Sales', aggfunc = 'sum')
print(table_pivot)

### KPI's e Insights

In [12]:
# Calcula a margem de lucro
df_vendas['MargemLucro'] = ((df_vendas['Profit'] / df_vendas['Sales']) * 100).round(2)
df_vendas.head(3)

,RowID,OrderID,OrderDate,ShipDate,ShipMode,CustomerID,CustomerName,Segment,Country,City,...,SubCategory,ProductName,Sales,Quantity,Discount,Profit,LeadTime,FxSales,AnoMes,MargemLucro
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,3,Muito Alto,2016-11,16.0
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3,Muito Alto,2016-11,30.0
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714,4,Baixo,2016-06,47.0

In [13]:
# Calcula a média de desconto por Categoria
df_vendas.groupby('Category')['Discount'].mean()

Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [14]:
df_vendas.to_csv('D:\CURSOS\DSA\FCD\Projeto_Vendas\df_vendas_final.csv', index=False, sep=';', decimal=',', encoding='utf-8')